### K3S Values
k8sServiceHost: "127.0.0.1"
k8sServicePort: "6443"
operator:
  replicas: 1
hubble:
  relay:
    enabled: true
  ui:
    enabled: true
ipam:
  operator:
    clusterPoolIPv4PodCIDRList: ["10.42.0.0/16"]
  mode: "cluster-pool"
localRedirectPolicy: true
kubeProxyReplacement: true
